/* 
  Define the Scss variables for reusable values.
*/

// Colors
$green: #81E5BE;
$white: #FFFFFF;
$light-blue: #477EF9;
$sky-blue: #47F9EE;
$light-green:#53BF9D;
$dark-blue:#00587D;

// Font Families
$poppins: "Poppins, sans-serif";
