.committee-page-container {
    background-image: url('../../assets/images/CommitteePageBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    background-position: center;
  }