.error-page-container {
    background-image: url('../../assets/images/backgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
  }